// For event home
* {
    transition: all 0.4s;
}

html,
body {
    overflow-x: hidden;
}

.rec-dot {
    display: none;
}

.rec-arrow {
    box-shadow: none !important;
    background-color: transparent !important;
    color: #ef476f !important;

    @media screen and (max-width: 480px) {
        display: none;
    }
}

.video-container:focus,
.video-container:active {
    outline: none !important;
    border: none !important;
}

.rec-arrow-left {
    left: -5%;
}

.rec-arrow-right {
    right: -5%;
}

.rec-arrow:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.dummy {
    opacity: 0;
    height: 0;
}

.rec-slider-container:hover {
    transform: scale(1.02);
}

video {
    // box-shadow: 4px 4px 16px -1px rgba(0,0,0, .5);
}

.carousel-item {
    position: absolute;
    z-index: 3;
}

.video-container {
    @media screen and (max-width: 768px) {
        width: 90% !important;
    }

    video {
        width: 100%;
        border-radius: 8px;
    }
}

.carousel-next::before {
    background-image: none !important;
    content: ">" !important;
    position: absolute;
    color: white !important;
}

h3 {
    text-align: center;
}

.carousel-item {
    opacity: 0;
}

.carousel-item.active {
    opacity: 1;
}

.hide {
    opacity: 0;
    pointer-events: none;
}

.event-title + div {
    width: 80%;

    @media screen and (min-width: 1200px) {
        width: 60%;
    }

    @media screen and (max-width: 480px) {
        width: 90%;
    }
}

.rec-carousel-item-hidden {
    opacity: 0 !important;
}

.rec-carousel-item-visible {
    opacity: 1 !important;
}

.video-section {
    padding: 5%;

    h1 {
        text-align: center;
        color: #ef476f;
        font-size: 32px;
        margin-bottom: 60px;

        @media screen and (max-width: 480px) {
            margin: 30px auto !important;
            font-size: 24px;
        }
    }

    .video-wrapper {
        position: relative;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        margin-bottom: 200px;

        @media (max-width: 480px) {
            margin-bottom: 100px;
        }
        // flex-flow: row wrap;

        .video-container {
            width: 100%;
            padding: 20px 40px;
            min-width: 320px;
        }

        .desc-container {
            width: 100%;
            padding: 20px;
            margin: 0 0 0 1.6vw;
            min-width: 340px;

            .text {
                font-size: 1.6vw;
                line-height: 1.7;
                margin-bottom: 2vw;
            }

            a {
                display: inline-block;
                font-size: 1.8vw;
                padding: 12px 24px;
                border-radius: 40px;
                text-decoration: none;
                color: white;
                background-color: #06d6a0;
            }
        }
    }
}


.reverse {
    .desc-container {
        text-align: right !important;
    }
}

@media screen and (max-width: 768px) {
    .video-wrapper {
        flex-wrap: wrap;
        text-align: center !important;

        .video-container {
            margin: 0 auto;
        }

        .desc-container {
            margin-left: 0 !important;

            .text {
                font-size: 18px !important;
            }

            a {
                font-size: 20px !important;
            }
        }
    }
}

@media screen and (max-width: 480px) {
    .video-wrapper {
        .desc-container {
            margin-left: 0 !important;

            .text {
                font-size: 12px !important;
            }

            a {
                font-size: 16px !important;
                padding: 8px 16px !important;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .reverse {
        flex-wrap: wrap-reverse !important;

        .desc-container {
            text-align: center !important;
        }
    }
}

video:active, video:focus {
    outline: none !important;
}