// For event home
* {
    transition: all 0.4s;
}

button:active, button:focus {
    outline: none;
}

html {
    scroll-behavior: smooth;
}

html,
body {
    overflow-x: hidden;
}

.rec-dot {
    display: none;
}

.rec-arrow {
    box-shadow: none !important;
    background-color: transparent !important;
    color: #ef476f !important;

    @media screen and (max-width: 480px) {
        display: none;
    }
}

.video-container:focus,
.video-container:active {
    outline: none !important;
    border: none !important;
}

.rec-arrow-left {
    left: -5%;
}

.rec-arrow-right {
    right: -5%;
}

.rec-arrow:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.dummy {
    opacity: 0;
    height: 0;
}

.rec-slider-container:hover {
    transform: scale(1.02);
}

video {
    // box-shadow: 4px 4px 16px -1px rgba(0,0,0, .5);
}

.carousel-item {
    position: absolute;
    z-index: 3;
}

.video-container {
    @media screen and (max-width: 768px) {
        width: 90% !important;
    }

    video {
        width: 100%;
        border-radius: 8px;
    }
}

.carousel-next::before {
    background-image: none !important;
    content: ">" !important;
    position: absolute;
    color: white !important;
}

h3 {
    text-align: center;
}

.carousel-item {
    opacity: 0;
}

.carousel-item.active {
    opacity: 1;
}

.hide {
    opacity: 0;
    pointer-events: none;
}

.event-title + div {
    width: 80%;

    @media screen and (min-width: 1200px) {
        width: 60%;
    }

    @media screen and (max-width: 480px) {
        width: 90%;
    }
}

.rec-carousel-item-hidden {
    opacity: 0 !important;
}

.rec-carousel-item-visible {
    opacity: 1 !important;
}

.event-container {
    text-align: center;

    video {
        border-radius: 12px;
        box-shadow: 2px 2px 8px .5px rgba(0, 0, 0, 0.3);
        width: clamp(340px, 80%, 1200px);
    }
}

.video-tutorbisnisku {
    margin: 0 auto;
}

.video-section {
    padding: 5%;

    h1 {
        text-align: center;
        color: #ef476f;
        font-size: 32px;
        margin-bottom: 40px;

        @media screen and (max-width: 480px) {
            margin: 30px auto !important;
            font-size: 24px;
        }
    }

    .video-wrapper {
        position: relative;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        margin-bottom: 150px;

        @media (max-width: 480px) {
            margin-bottom: 100px;
        }
        // flex-flow: row wrap;

        .video-container {
            width: 100%;
            padding: 20px 40px;
            min-width: 320px;
        }

        .desc-container {
            width: 100%;
            padding: 20px;
            margin: 0 0 0 1.6vw;
            min-width: 340px;

            .text {
                font-size: 1.6vw;
                line-height: 1.7;
                margin-bottom: 2vw;
            }

            a {
                display: inline-block;
                font-size: 1.8vw;
                padding: 12px 24px;
                border-radius: 40px;
                text-decoration: none;
                color: white;
                background-color: #06d6a0;
            }

            a:hover {
                background: #ef476f;
            }
        }
    }
}

.reverse {
    .desc-container {
        text-align: right !important;
    }
}

.upcoming-events {
    @media screen and (min-width: 1024px) {
        width: 70%;
        margin: 0 auto;
    }
}

@media screen and (max-width: 768px) {
    .video-wrapper {
        flex-wrap: wrap;
        text-align: center !important;

        .video-container {
            margin: 0 auto;
        }

        .desc-container {
            margin-left: 0 !important;

            .text {
                font-size: 18px !important;
            }

            a {
                font-size: 20px !important;
            }
        }
    }
}

@media screen and (max-width: 480px) {
    .video-wrapper {
        .desc-container {
            margin-left: 0 !important;

            .text {
                font-size: 12px !important;
            }

            a {
                font-size: 16px !important;
                padding: 8px 16px !important;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .reverse {
        flex-wrap: wrap-reverse !important;

        .desc-container {
            text-align: center !important;
        }
    }
}

video:active,
video:focus {
    outline: none !important;
}

.dropdown {
    position: relative;
    padding: 10px;
    background-color: #101522;
    top: -100%;
    z-index: -1;
    opacity: 0;
    // transform: translateX(40px);
    box-shadow: 2px 2px 6px -1px rgba(0, 0, 0, 0.3);

    .dropdown-content {
        padding: 15px;

        a {
            color: white;
            display: block;
            text-decoration: none;
        }

        a:hover {
            cursor: pointer;
        }
    }
}

.dropdown.active {
    top: 0;
    opacity: 1;
}

li {
    list-style-type: none;
}

.online-class-page {
    padding: 5% 7.5%;

    .online-class-wrapper {
        display: flex;
        // flex-flow: row wrap;
        justify-content: center;
        align-items: center;

        @media screen and (max-width: 1024px) {
            flex-flow: row wrap;

            .image-container {
                margin-bottom: 20px;
                width: 90% !important;
            }
        }

        .image-container {
            width: 100%;

            img {
                width: 100%;
            }
        }

        .text-container {
            transform: translateY(30px);

            h1 {
                font-size: 36px;
                margin-bottom: 10px;
                color: #101522;
            }

            p {
                color: rgba(0,0,0,.7);
                font-size: 20px;
                line-height: 1.5;

                @media screen and (min-width: 769px) and (max-width: 1024px) {
                    font-size: 24px;
                }
            }
        }
    }

    .btn-container {
        margin: 20px auto;
        text-align: center;

        @media screen and (max-width:1024px) {
            margin: 60px auto 90px;
        }

        button {
            border: none;
            border-radius: 50px;
            font-size: 30px;
            background-color: #EF476F;
            color: white;
            padding: 10px 25px;
        }

        button:hover {
            background-color: #06D6A0;
            cursor: pointer;
        }
    }
}
